*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 60px;
  background-color: #343541;
  color: #f4f5f6;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 5px;
}

button {
  padding: 6px 12px;
  outline: none;
  background-color: transparent;
  border-radius: 2px;
  color: inherit;
  border: 2px solid #7f8199;
}

.searchInput {
  padding: 8px 0;
  display: flex;
  gap: 6px;
}

.gifGrid {
  padding: 16px 0;


}

.gifGrid h2 {
  padding: 2px;
  margin-bottom: 8px;
  text-decoration: underline;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  height: 0%;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.card p {

  flex: 1;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.card img {
  width: 100%;
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;

}

.cardy {
  outline: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
  max-width: 250px;

}

.cardy img {
  width: 100%;
  object-fit: contain;
}